<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-836382260999/awspoc-static-content/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-836382260999/awspoc-static-content/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-836382260999/awspoc-static-content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-836382260999/awspoc-static-content/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-836382260999/awspoc-static-content/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-836382260999/awspoc-static-content/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-836382260999/awspoc-static-content/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-836382260999/awspoc-static-content/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-836382260999/awspoc-static-content/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-836382260999/awspoc-static-content/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-836382260999/awspoc-static-content/login/css/main.css">
    <!--===============================================================================================-->
</head>

<body>
    <div class="container-login100" style="background-image: url('https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-836382260999/awspoc-static-content/login/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
            <div class="login100-form">
                <span class="login100-form-title p-b-37">
					Sign In
				</span>

                <div class="wrap-input100 m-b-20">
                    <input class="input100" type="text" name="UsernameTxt" id="UsernameTxt" placeholder="username or email">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 m-b-25">
                    <input class="input100" type="password" name="PasswordTxt" id="PasswordTxt" placeholder="password">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" id="LoginButton" name="LoginButton">
						Sign In
					</button>
                </div>

                <!-- <div class="text-center p-t-57 p-b-20">
                    <span class="txt1">
						Or login with
					</span>
                </div>

                <div class="flex-c p-b-112">
                    <a href="#" class="login100-social-item">
                        <i class="fa fa-facebook-f"></i>
                    </a>

                    <a href="#" class="login100-social-item">
                        <img src="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-836382260999/awspoc-static-content/login/images/icons/icon-google.png" alt="GOOGLE">
                    </a>
                </div> -->

                <div class="text-center">
                    <a href="#" class="txt2 hov1">
						Sign Up
					</a>
                </div>
            </div>


        </div>
    </div>


    <script src="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-836382260999/awspoc-static-content/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-836382260999/awspoc-static-content/login/vendor/animsition/js/animsition.min.js"></script>
    <script src="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-836382260999/awspoc-static-content/login/vendor/bootstrap/js/popper.js"></script>
    <script src="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-836382260999/awspoc-static-content/login/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var login = {
                init: function() {
                    $('#sidebarCollapse').on('click', function() {
                        $('#sidebar').toggleClass('active');
                    });

                    $('#LoginButton').on('click', function() {

                        var userData = {
                            username: $('#UsernameTxt').val(),
                            password: $('#PasswordTxt').val()
                        };
                        console.log(userData);
                        login.signIn(userData);
                    });

                },
                signIn: function(userData) {

                    $.ajax({
                        url: "http://lagash.us-east-2.elasticbeanstalk.com/api/login",
                        type: 'POST',
                        data: userData,
                        dataType: 'json', // added data type
                         success: function(res) {
                            console.log(res);
                        
                            if (res.errorMessage) {
                                alert(res.errorMessage);
                            }
                            else {
                                localStorage.setItem("login", JSON.stringify(res));
                                window.location.href = '/';
                            }
                         },
                        error: function(XMLHttpRequest, textStatus, error) {
                            console.log(XMLHttpRequest.statusText);
                            console.log(textStatus);
                            console.log(error);
                        }
                    });
                }
            }

            login.init();
        });
    </script>



</body>

</html>