<div class="row">
    <div class="col-xs-12 col-md-2 col-lg-2 col-12 block">            
        <a style="padding:10px; font-size:18px; color:blue; text-decoration:underline;" href="./">Back</a>
    </div>
</div>

 <!-- Page Content Holder -->
 <div id="content" style="padding-top:5px !important;" class="main-content">
    <h2>Register new user</h2>
    <br />
    <p>Fill all the fields below to register a new user.</p>
    <p>All the fields are required.</p>

    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 block">
            <label>First name</label>
            <input id="FirstNameTxt" class="form-control" placeholder="type your name here..." />
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 block">
            <label>Last name</label>
            <input id="LastNameTxt" class="form-control" placeholder="type your last name here..." />
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 block">
            <label>Email</label>
            <input id="EmailTxt" class="form-control" placeholder="type your email here..." />
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 block">
                <label>Password</label>
                <input id="PasswordTxt" class="form-control" placeholder="type your password..." />
            </div>
        <div class="col-xs-12 col-md-12 col-lg-12 block">
            <label>Country</label>
            <select id="Country"  class="form-control" >
                <option id="us">United States</option>
                <option id="mx">México</option>
                <option id="it">Italy</option>
            </select>
        </div>            
    </div>    
    <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-4 col-12 block">            
            <button id="RegisterButton" class="btn btn-primary form-control">Register user</button>
        </div>
    </div>

    <div class="line"></div>
</div>

<script type="text/javascript">
    var globalUsers = [];

    $(document).ready(function () {
        
        var user = {
            init: function(){
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });

                $('#RegisterButton').on('click', function () {

                    var userData = {
                        firstName: $('#FirstNameTxt').val(),
                        lastName:$('#LastNameTxt').val(),
                        email:$('#EmailTxt').val(),
                        password:$('#PasswordTxt').val(),
                        country:$('#Country').val()
                    };
                    console.log(userData);
                    user.registerUser(userData);
                });
               
            },
            registerUser: function(userData){

                $.ajax({
                    url: "http://lagash.us-east-2.elasticbeanstalk.com/api/user/register",
                    type: 'POST',
                    data: userData,
                    dataType: 'json', // added data type
                    success: function(res) {
                        alert("User registration completed!")
                        console.log(res);
                    },
                    error: function(XMLHttpRequest, textStatus, error) {
                        console.log(XMLHttpRequest.statusText);
                        console.log(textStatus);
                        console.log(error);
                    }
                });
            }
        }

        user.init();
    });

</script>