<style>
    .user-container{
        padding: 5px;
        background: #f4f4f4;
    }
    .name{
        text-align: center;
        padding: 10px;
        font-size: 16px;
        background: cornflowerblue;
        font-weight: lighter;
        color:white;
    }
</style>
<div class="row">
    <div class="col-xs-12 col-md-2 col-lg-2 col-12 block">            
        <a style="padding:10px; font-size:18px; color:blue; text-decoration:underline;" href="./">Back</a>
    </div>
</div>

    <!-- Page Content Holder -->
<div id="content" style="padding-top:5px !important;" class="main-content">
    <h2>Registered users</h2>
    <br />
    <p>List of registered users in Cognito.</p>    

    <div class="row wrapper-user-container">        
       
    </div>    
    <div class="line"></div>
</div>

<script>    
  

</script>